<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title></title>
        <script src="~/jquery/dist/jquery.min.js"></script>
        <link href="~/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
        <script>
            function autoRefresh()
            {
                var refreshSeconds = 5;
                function updateLastActivity() { lastActivity = new Date().getTime(); }
                $(document.body).bind("mousemove keypress", updateLastActivity);
                updateLastActivity();
                function refresh() {
                    if (new Date().getTime() - lastActivity >= (refreshSeconds * 1000)) {
                        window.location.reload(true);
                    }
                    else {
                        setTimeout(refresh, 1000);
                    }
                }
                setTimeout(refresh, 1000);
            }
        </script>
        <style>
            .simple-form {
                margin: 0;
            }
            .simple-form button {
                border: 0;
                padding: 0;
            }
            .simple-list {
                list-style: none;
                padding: 0;
                margin: 0;
            }
        </style>
    </head>
    <body>
        <div class="container-fluid">
            <h1>Share Cluster</h1>
            @RenderBody()
        </div>
    </body>
</html>

