// Override
@import "custom";

// Required
@import "~bootstrap/scss/bootstrap";

// Table grouping visual
@import "table-groups";

// copy link component
.copy-link {
    cursor: copy;
}

// show modal by default
.modal {
    display: block;
}

// semi-transparent modal backdrop instead of black
.modal-backdrop {
    background-color: rgba(0,0,0,.5);
}